.projects {
  background-color: white;
  padding-bottom: 7rem;
  margin: 0 0 0 0;
  margin: 0 0 0 0;
  font-family: "Roboto Slab", sans-serif;

  .projects-start-title {
    margin: 0;
    padding: 5rem 0 0 0;
    font-size: 2.5rem;
    color: #1b1c1e;
  }

  .section-spacing {
    margin-top: 4rem;
  }
}
