.container {
  display: flex;
  margin-top: 5rem;

  .content-left {
    width: 90rem;
    order: 1;
    margin: 0 3rem 0 7rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    h2 {
      margin-bottom: 1rem;
    }

    .details {
      text-align: left;
      justify-content: left;
    }
  }

  .image-section {
    order: 2;
    margin: 1.5rem 4rem 0 0;

    img {
      margin-left: auto;
      width: 104%;
      min-width: 400px;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
    }

    .project-image {
      transition: transform 0.3s ease, box-shadow 0.3s ease;

      &:hover {
        transform: scale(1.05);
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
      }
    }
  }
  @media screen and (device-width: 1024px) and (device-height: 600px) {
    .content-left {
      width: auto;
    }
    .image-section {
      img {
        margin: 0 1.5rem 0 1.5rem;
        width: 350px;
      }
    }
  }

  @media screen and (max-width: 945px) {
    flex-direction: column;

    .content-left {
      width: auto;
      order: 2;
      margin: 2rem 6rem 0 5.5rem;
      align-items: center;
      .details {
        text-align: center;
      }

      h2 {
        margin-bottom: 1rem;
      }

      .details {
        text-align: center;
        justify-content: center;
        margin: 0 0.5rem 0 0.5rem;
      }
    }

    .image-section {
      order: 1;
      margin: 0;

      img {
        margin: 0 1.5rem 0 1.5rem;
        width: 80%;
        min-width: 300px;
      }
    }
  }

  @media screen and ((device-width: 912px) and (device-height: 1368px)),
    screen and ((device-width: 820px) and (device-height: 1180px)) {
    .content-left {
      width: auto;
    }
  }

  @media screen and (device-width: 768px) and (device-height: 1024px) {
    .content-left {
      width: auto;
      .details {
        margin: 0 0.5rem 0 0;
      }
    }
  }

  @media screen and (device-width: 540px) and (device-height: 720px) {
    .content-left {
      width: auto;
      margin: 0 2.4rem 0 2.4rem;
    }
  }

  @media screen and (max-width: 415px) {
    .content-left {
      width: auto;
      margin: 0 0.8rem 0 0.8rem;

      .details {
        text-align: center;
        margin: 0 0.8rem 0 0.8rem;
      }
    }
    .image-section {
      img {
        width: 380px;
        margin: 0 0.5rem 0 0.5rem;
      }
    }
  }

  @media screen and (max-width: 394px) {
    .image-section {
      img {
        width: 365px;
      }
    }
  }

  @media screen and (max-width: 391px) {
    .image-section {
      img {
        width: 360px;
        margin: 0 0.5rem 0 0.5rem;
      }
    }
  }

  @media screen and (max-width: 376px) {
    .image-section {
      img {
        margin: 0 0.5rem 0 0.5rem;
        width: 350px;
      }
    }
  }

  @media screen and (max-width: 361px) {
    .image-section {
      img {
        width: 335px;
      }
    }
  }

  @media screen and (max-width: 320px) {
    .content-left {
      width: auto;
    }
    .image-section {
      img {
        width: 200px;
      }
    }
  }
}

.project-buttons {
  .button {
    pointer-events: auto;
    cursor: pointer;
    background: #e7e7e7;
    border: none;
    padding: 1rem 2rem;
    margin: 2rem 1rem 0 0;
    font-family: inherit;
    font-size: inherit;
    position: relative;
    display: inline-block;

    &::before,
    &::after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .button--hyperion {
    font-family: Roboto Slab, monospace;
    font-weight: 500;
    padding: 0.5rem 1.5rem;
    border: 1px solid #1b1c1e;
    overflow: hidden;
    color: #fff;
  }

  .button--hyperion span {
    display: block;
    position: relative;
  }

  .button--hyperion > span {
    overflow: hidden;
  }

  .button--hyperion > span > span {
    overflow: hidden;
    mix-blend-mode: difference;
  }

  .button--hyperion:hover > span > span {
    animation: MoveUpInitial 0.2s forwards, MoveUpEnd 0.2s forwards 0.2s;
  }

  @keyframes MoveUpInitial {
    to {
      transform: translate3d(0, -105%, 0);
    }
  }

  @keyframes MoveUpEnd {
    from {
      transform: translate3d(0, 100%, 0);
    }
    to {
      transform: translate3d(0, 0, 0);
    }
  }

  .button--hyperion::before {
    content: "";
    background: #1b1c1e;
    transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
    transform-origin: 100% 50%;
  }

  .button--hyperion:hover::before {
    transform: scale3d(0, 1, 1);
    transform-origin: 0% 50%;
  }

  @media screen and (max-width: 376px) {
    margin-left: 1.5rem;
  }
}

@media screen and (max-width: 321px) {
  .project-buttons {
    .button {
      padding: 1rem 1rem;
    }
  }
}
