.front-image {
  .lottie-container {
    margin: 3rem 8rem 6rem 0;
    height: 22rem;
    width: 22rem;
    img {
      height: 22rem;
      width: 22rem;
    }
  }

  @media screen and (device-width: 1280px) and (device-height: 800px) {
    .lottie-container {
      height: 27rem;
      width: 27rem;
    }
  }

  @media screen and (max-width: 1169px) {
    display: flex;
    justify-content: center;
    .lottie-container {
      height: 22rem;
      width: 22rem;
      margin: 0;
    }
  }

  @media screen and (device-width: 820px) and (device-height: 1180px) and (-webkit-device-pixel-ratio: 2) {
    .lottie-container {
      margin-top: 4rem;
      height: 30rem;
      width: 30rem;
      img {
        height: 30rem;
        width: 30rem;
      }
    }
  }

  @media screen and (device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) {
    .lottie-container {
      margin-top: 2rem;
      height: 25rem;
      width: 25rem;
    }
  }

  @media screen and (device-width: 912px) and (device-height: 1368px) and (-webkit-device-pixel-ratio: 2) {
    .lottie-container {
      margin-top: 2rem;
      height: 30rem;
      width: 30rem;
      img {
        height: 30rem;
        width: 30rem;
      }
    }
  }

  @media screen and (max-width: 360px) {
    .lottie-container {
      height: 20rem;
      width: 20rem;
      img {
        height: 18rem;
        width: 18rem;
      }
    }
  }

  @media screen and (max-width: 320px) {
    .lottie-container {
      height: 18rem;
      width: 18rem;
      img {
        height: 16rem;
        width: 16rem;
      }
    }
  }
}
