.skills-section {
  background-color: #05b59e;
  padding-bottom: 8rem;
  margin-top: 16vh;
  font-family: "Roboto Slab", sans-serif;
  overflow-x: hidden;
  z-index: -1;

  .skills-content {
    color: white;
    text-align: center;
  }

  .skills-heading {
    font-size: 2.5rem;
    margin-top: 5rem;
  }

  .skills-icons {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 25px;
    justify-items: center;
    margin: 6rem 8rem 0 8rem;

    .skills-container {
      display: flex;
      flex-flow: column;
      align-items: center;

      .skill-icon {
        font-size: 3rem;
        padding-top: 50px;
        margin: 0 0 1rem 0;
      }
    }
  }

  @media screen and (max-width: 1224px) {
    margin-top: 10rem;
  }

  @media screen and (device-width: 1024px) and (device-height: 600px) {
    .skills-icons {
      margin: 0;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 20px;
    }
  }

  @media screen and (device-width: 912px) and (device-height: 1368px) {
    .skills-icons {
      margin: 0;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 20px;
    }
  }

  @media screen and (device-width: 820px) and (device-height: 1180px) and (-webkit-device-pixel-ratio: 2) {
    .skills-icons {
      margin: 0;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 20px;
    }
  }

  @media screen and (device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) {
    .skills-icons {
      margin: 0;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 20px;
    }
  }

  @media screen and (device-width: 540px) and (device-height: 720px) {
    .skills-icons {
      margin: 0;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;
    }
  }

  @media screen and (max-width: 415px) {
    .skills-icons {
      margin: 0;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;
    }
  }

  @media screen and (max-width: 361px) {
    padding-bottom: 5rem;
  }

  @media screen and (device-width: 280px) and (device-height: 653px) {
    height: 130vh;
    margin-top: 8rem;
    padding-top: 1px;

    .skills-content {
      .skills-icons {
        margin: 0;
        grid-template-columns: 1fr 1fr;
        grid-gap: 0px;
        .skills-container {
          font-size: 0.8rem;
          .skill-icon {
            font-size: 2rem;
          }
        }
      }
    }
  }
}
