.about {
  position: relative;
  background-color: #05b59e;
  overflow: hidden;
  font-family: "Roboto Slab", sans-serif;
  padding-bottom: 1rem;

  h1 {
    font-size: 2.5rem;
    color: #fff;
    text-align: center;
    margin: 5rem 0 0 0;
  }

  .about-container {
    display: flex;

    .lottie-animation {
      height: 35rem;
      width: 35rem;
      margin: -8rem 0 7rem 3rem;
    }

    .about-description {
      margin: 8.5rem 12rem 0 8rem;
      font-size: 1.2rem;
      text-align: left;
      order: 2;
      color: #fff;
    }
  }

  @media screen and (max-width: 1118px) {
    .about-container {
      .lottie-animation {
        margin-left: 1rem;
      }
      .about-description {
        margin: 8.5rem 4rem 0 2rem;
      }
    }
  }

  @media screen and (max-width: 938px) {
    height: 40rem;
    .about-container {
      flex-direction: column;
      align-items: center;

      .lottie-animation {
        margin: -2rem 0 2rem 0rem;
        height: 15rem;
        width: 15rem;
      }
      .about-description {
        margin: 0 2rem 0 2rem;
      }
    }
  }
}
