@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Roboto+Slab:wght@400;500&display=swap");

body {
  margin: 0;
  background-color: #1b1c1e;
  font-family: "Roboto Slab", sans-serif;
}
